<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.seclass.glm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ListManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TypeSelector" />
        <activity android:name=".ItemSelector" />
        <activity
            android:name=".GroceryList"
            android:label="@string/title_activity_grocery_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewList" />
        <activity android:name=".SearchItem" />
        <activity android:name=".newMasterItem"></activity>
    </application>

</manifest>